---
layout: default
---
{{ content }}

<div class="container py-5">
        <div class="gallery-row">
            <!-- Image 1 -->
            <div class="gallery-card">
                <div class="card h-100">
                    <img src="assets/img/estefania.jpg" class="gallery-img card-img-top" alt="Gallery Image 1">
                    <div class="card-body">
                        <h5 class="card-title">Image 1</h5>
                    </div>
                </div>
            </div>
            <!-- Image 2 -->
            <div class="gallery-card">
                <div class="card h-100">
                    <img src="assets/img/estefania.jpg" class="gallery-img card-img-top" alt="Gallery Image 2">
                    <div class="card-body">
                        <h5 class="card-title">Image 2</h5>
                    </div>
                </div>
            </div>
            <!-- Image 3 -->
            <div class="gallery-card">
                <div class="card h-100">
                    <img src="assets/img/lab-technician.jpg" class="gallery-img card-img-top" alt="Gallery Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Image 3</h5>
                    </div>
                </div>
            </div>
            <!-- Image 4 -->
            <div class="gallery-card">
                <div class="card h-100">
                    <img src="assets/img/estefania.jpg" class="gallery-img card-img-top" alt="Gallery Image 4">
                    <div class="card-body">
                        <h5 class="card-title">Image 4</h5>
                    </div>
                </div>
            </div>
            <!-- Image 5 -->
            <div class="gallery-card">
                <div class="card h-100">
                    <img src="assets/img/estefania.jpg" class="gallery-img card-img-top" alt="Gallery Image 5">
                    <div class="card-body">
                        <h5 class="card-title">Image 5</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>