
---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">{{ page.title }}</h3>
    {{ content }}
    <p>
      I successfully defended my doctoral research proposal on May 28, 2024! I am deeply grateful for the valuable suggestions and insights from the committee members: 
      Dr. Sergi Torner (UPF), Dr. Josafa Martín (UAM), and Dr. José Antonio Sánchez Fajardo (UA).
    </p>
    <p>
      Thank you so much for the suggestions from the committee: Dr. Sergi Torner (UPF), Dr. Josafa Martín (UAM), and Dr. José Antonio Sánchez Fajardo (UA).
    </p>
  </div>
</div>
