---
layout: default
---

{{ }}My research interests center on morphology, neology, and lexicography. More specifically, I am passionate about studying word elements (combining forms and affixes), transitional morphology, and comparative linguistics in English and Spanish. My current research focuses on distinguishing between affixes and combining forms in both languages, using the framework of Transitional Morphology (Mattiello, 2023), with the goal of contributing to and advancing this theoretical model.

{% include publications.html %}
